<%#
Copyright 2008-2013 Concur Technologies, Inc.

Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License. You may obtain
a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations
under the License.
%>
<% 
language_tabs = Rails.configuration.data['language_tabs'] || []
toc_paged_helper = TocPagedData.new('config/data.yml')
toc_paged_data = toc_paged_helper.toc_paged_data 
%>
<% 
  toc_helper = TocData.new(@md_resource)
  toc_data = toc_helper.toc_data 
%>

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title><%= Rails.configuration.data['title'] || "API Documentation" %></title>

    <style>
      <%= Rouge::Themes::MonokaiSublime.render(:scope => '.highlight') %>
    </style>
    <%= stylesheet_link_tag :screen, media: :screen %>
    <%= stylesheet_link_tag :print, media: :print %>
    <% if Rails.configuration.data['search'] %>
      <%= javascript_include_tag  "all" %>
    <% else %>
      <%= javascript_include_tag  "all_nosearch" %>
    <% end %>
  </head>
  <body class="docs_home index" data-languages="<%=Rails.configuration.data['language_tabs'].map{ |lang| lang.is_a?(Hash) ? lang.keys.first : lang }.to_json %>">

    <a href="#" id="nav-button">
      <span>
        NAV
        <%= image_tag('navbar.png') %>
      </span>
    </a>
    <div class="toc-wrapper">
      <% logo_img = 'logo.png'%>
      <%= link_to image_tag(logo_img, class: 'logo'), root_path %>
      <% if language_tabs.any? %>
        <div class="lang-selector">
          <% language_tabs.each do |lang| 
            if lang.is_a? Hash %>
              <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
            <% else %>
              <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% if Rails.configuration.data['search'] %>
        <div class="search">
          <input type="text" class="search" id="input-search" placeholder="Search">
        </div>
        <ul class="search-results"></ul>
      <% end %>
      <div id="toc" class="toc-list-h1">
        <% logger.info 'Building ToC top level...' %>
        <%# Iterate through all h1 from toc data. %>
        <% toc_paged_data.each do |h1| %>
          <li>
            <%# If the current h1 we are looking at is for this page, process it in the old way. %>
            <%# logger.info "found resource_id to be:" + params[:resource_id] %>
            <%# logger.info "found h1[:id] to be:" + h1[:id] %>
            <% if h1[:id] == params[:resource_id]&.downcase %>
              <% logger.info 'Found current ToC Entry (' +h1[:id]&.to_s + ')' %>
              <% toc_data.each do |h1| %>
                <li>
                  <%= link_to h1[:content], 
                              docs_link_path(:resource_id => h1[:id]), 
                              :class => 'toc-h1 toc-link', 
                              :directory_indexes => true, 
                              data: {title: h1[:id]} %>
                  <ul class="toc-list-h2">
                    <% logger.info 'Building ToC lower level...' %>
                    <% h1[:children]&.each do |h2| %>
                      <li>
                        <% resource_url_full = h1[:link]&.to_s %>
                        <%= link_to h2[:content],
                                    docs_link_path(:resource_id => h1[:id],
                                                    anchor: h2[:id]),
                                    :method => :post,
                                    :class => 'toc-h2 toc-link',
                                    :id => h2[:link],
                                    data: {title: h2[:id]} %>
                      </li>
                    <% end %>
                  </ul>
                </li>
              <% end %>
            <%# Otherwise, we process it the new way using the data.yml %>
            <% else %>
              <%= link_to h1[:content], 
                          docs_link_path(:resource_id => h1[:link]), 
                          :class => 'toc-h1 toc-link', 
                          :directory_indexes => true, 
                          data: {title: h1[:id]} %>
                <ul class="toc-list-h2">
                  <% logger.info 'Building ToC lower level...' %>
                  <% h1[:children].each do |h2| %>
                    <li>
                      <% resource_url_full = h1[:link].to_s %>
                      <%= link_to h2[:content], 
                                  docs_link_path(:resource_id => h1[:link], 
                                                anchor: h2[:link]),
                                  :method => :post, 
                                  :class => 'toc-h2 toc-link',
                                  :id => h2[:link],
                                  data: {title: h2[:id]} %>
                    </li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          <% end %>
      </div>
      <% if Rails.configuration.data['toc_footers'] %>
        <% logger.info 'Adding ToC footers...' %>
        <ul class="toc-footer">
          <% Rails.configuration.data['toc_footers'].each do |footer| %>
            <li><%= footer.html_safe %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="page-wrapper">
      <div class="dark-box"></div>
      <div class="content" >
        <%= yield %>
      </div>
      <div class="dark-box">
        <% if language_tabs.any? %>
          <div class="lang-selector">
            <% language_tabs.each do |lang| %>
              <% if lang.is_a? Hash %>
                <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
              <% else %>
                <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

  </body>
</html>
